<div layout="row" layout-align="center center" flex>
    <form name="signupForm" id="form2" flex flex-sm="66" flex-md="66" flex-gt-md="50">
        <div layout="row" layout-align="center center">
            <h3 md-title>{{resourceData.signup}}</h3>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.name}}</label>
                <md-icon class="material-icons">person</md-icon>
                <input type="text" required md-no-asterisk ng-model="register.user.name" name="name">
                <div ng-messages="signupForm.name.$error">
                    <div ng-message="required">Enter the name</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.adharcard}}</label>
                <md-icon class="material-icons">person</md-icon>
                <input type="text" required md-no-asterisk ng-model="register.user.adharcard" name="adharcard" ng-pattern="/^[0-9]{12}(?:[0-9]{3})?$/">
                <!-- ^\d{4}\s\d{4}\s\d{4}$ 4-4-4 digits comes-->
                <!-- ^[0-9]{12}(?:[0-9]{3})?$ -->
                <div ng-messages="signupForm.adharcard.$error">
                    <div ng-message="pattern">Enter correct adhaar card number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.mobile}}</label>
                <md-icon class="material-icons">phone</md-icon>
                <input type="tel" name="number" required md-no-asterisk ng-model="register.user.number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                <div ng-messages="signupForm.number.$error">
                    <div ng-message="required">Should be a 10 digit number</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.email}}</label>
                <md-icon class="material-icons">mail</md-icon>
                <input type="email" name="email" required md-no-asterisk ng-model="register.user.email" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="signupForm.email.$error">
                    <div ng-message="required">Valid email required</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container flex>
                <label>Profession</label>
                <md-icon class="material-icons">work</md-icon>
                <md-select name="profession" ng-model="register.user.profession">
                    <md-option ng-repeat="(key, value) in register.professions" ng-value="value.professions">{{value.professions}}</md-option>
                </md-select>
                <!-- <div ng-messages="signupForm.profession.$error">
                    <div ng-message="required">Please Select your profession</div>
                </div> -->
            </md-input-container>
        </div>
       <!--  <div layout="row" layout-align="center center">
            <md-input-container class=" md-icon-float" flex>
                <label>{{resourceData.location}}</label>
                <md-icon class="material-icons">place</md-icon>
                <input type="text" name="Location" required md-no-asterisk ng-model="register.user.location" />
                <div ng-messages="signupForm.Location.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container> -->
            <!-- </div> -->

        <div layout="row" layout-align="center center">
        <md-input-container flex>
            <label>Location</label>
            <md-icon class="material-icons">place</md-icon>
            <md-select ng-change="register.getPlacCenter(register.user.location)" name="location" ng-model="register.user.location">
                <md-option ng-repeat="locations in register.location" ng-value="locations">{{locations}}</md-option>
            </md-select>
            </md-input-container>
        </div>

                    <!-- Placement center -->

      <!-- <div layout="row" layout-align="center center">
        <md-input-container flex>
            <label>Placement center</label>
            <md-icon class="material-icons">business_center</md-icon>
            <md-select name="placementCenter" ng-model="register.user.placementCenter">
                <md-option ng-repeat="centers in register.placementCenter" ng-value="centers">{{centers}}</md-option>
            </md-select>
            </md-input-container>
        </div> -->


        <div layout="row" layout-align="center center">
        <md-input-container flex>
            <label>Placement center</label>
            <md-icon class="material-icons">business_center</md-icon>
            <md-select name="placementCenter" ng-model="register.user.placementCenter">
                <md-option ng-repeat="centers in register.placementCenter" ng-value="centers['c.name']">{{centers['c.cname']}}</md-option>
            </md-select>
            </md-input-container>
        </div> 
        

                    <!-- Password -->
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.password}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input ng-model="register.user.password" type="password" name="password" required md-no-asterisk ng-required="true" minlength="8" maxlength="20" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^*()_+])[A-Za-z\d][A-Za-z\d!@#$%^*()_+]{7,19}$/">
                <div layout-align="right" ng-messages="signupForm.password.$error" class="error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Password should be 8-20 characters </div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="md-icon-float" flex>
                <label>{{resourceData.confirm}}</label>
                <md-icon class="material-icons">lock</md-icon>
                <input ng-model="register.user.cpwd" type="password" required md-no-asterisk name="Cfpassword" valid-password-c required ng-pattern="{{register.user.password}}">
                <div layout-align="right" ng-messages="signupForm.Cfpassword.$error" class="error" role="alert">
                    <div ng-message-exp="required">Place is required </div>
                    <!-- <div class="msg-error" ng-show="signupForm.Cfpassword.$error.noMatch"> -->
                    <div ng-show="register.user.password !== register.user.cpwd">
                        Passwords do not match</div>
                    </div>
                </md-input-container>
            </div>
            <flash-message duration="6000"></flash-message>
            <div layout="row" layout-align="center center">
                <div layout="row" layout-align="center center" layout-wrap flex flex-gt-sm="40">
                    <md-button type="submit" ng-disabled="signupForm.$invalid" class="md-raised md-primary createAccount" ng-click="register.register()">
                        {{resourceData.create}}
                    </md-button>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div layout="row" layout-align="center center">
                <a flex style="text-align:center" ui-sref="candidate.login">{{resourceData.havesign}}</a>
            </div>
        </form>
    </div>