 <!--form for the candidate starts-->
 <div layout="column">
   <form name="candidateForm" layout="column" layout-align="center center" layout-align="center" ng-submit="vm.formSubmit()" novalidate>
   <h1 align="center">Candidate Registration</h1>
    <md-card class="md-no-momentum" md-whiteframe="6" layout-margin="">
      <md-card-content>
        <!--name field-->
        <md-input-container class="md-block">
          <label>Name</label>
          <md-icon aria-label="person">person</md-icon>
          <input name="myname" ng-model="vm.candidate.name" type="text" minlength="5" md-maxlength="30" ng-required="true"
          pattern="[a-zA-Z][a-zA-Z\s]+" md-autofocus>
          <div ng-messages="candidateForm.myname.$error" role="alert">
            <div ng-message="required">You should need to fill the name</div>
            <div ng-message="pattern">characters or spaces after the character only allowed</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="md-maxlength">Your field is too long</div>
          </div>
        </md-input-container>

        <!-- Mobile NO field -->
        <md-input-container class="md-block">
          <md-icon aria-label="Phone">phone</md-icon>
          <label>Mobile No</label>
          <input name="mobile" ng-model="vm.candidate.phone" type="text" pattern="[0-9]{10}" md-maxlength="10" ng-required="true">
          <div ng-messages="candidateForm.mobile.$error" role="alert">
            <div ng-message="required">You should need to fill the mobile no</div>
            <div ng-message="pattern">The value should have only 10 digits number</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email Id</label>
          <md-icon aria-label="email">email</md-icon>
          <input name="emailId" ng-model="vm.candidate.email" type="email" ng-required="false">
          <div ng-messages="candidateForm.emailId.$error" ng-show="candidateForm.emailId.$dirty || candidateForm.emailId.$touched" role="alert">
            <div ng-message="type">You should need to fill the mobile no</div>
          </div>
        </md-input-container>

        <div layout="row">
        <md-input-container flex="55">
          <label>Date of Birth</label>
          <md-datepicker name="dateOfBirth" ng-model="vm.candidate.dob" ng-required="flase"></md-datepicker>
        </md-input-container>

        <!-- Gender radio -->
        <md-input-container >
        <md-radio-group name="gender" ng-model="vm.candidate.gender" layout="row" ng-required="true" flex-offset="40">
          <label><md-icon>wc</md-icon>&nbsp;&nbsp;Gender</label>
          <md-radio-button value="Male"  flex="85">Male</md-radio-button>
          <md-radio-button value="Female" flex="85">Female</md-radio-button>
        </md-radio-group>
        </md-input-container>
        </div>

        <md-autocomplete
       md-selected-item="vm.candidate.profession"
       md-search-text-change=""
       md-search-text="professionInputText"
       md-selected-item-change=""
       md-items="item in vm.profession | filter: professionInputText"
       md-item-text="item"
       md-min-length="0"
       placeholder="Profession"
       md-menu-class="autocomplete-custom-template"
       ng-required="true">
         <md-item-template>
           <span md-highlight-text="professionInputText" md-highlight-flags="^i">{{item['professions']}}</span>
         </md-item-template>
         <div ng-messages="professionInputText.$error" role="alert">
           <div ng-message="required">You should need to fill the mobile no</div>
         </div>
       </md-autocomplete><br>

      <md-autocomplete
      md-selected-item="vm.candidate.location"
      md-search-text-change=""
      md-search-text="locationInputText"
      md-selected-item-change=""
      md-items="item in vm.location | filter: locationInputText"
      md-item-text="item"
      md-min-length="0"
      placeholder="Location"
      md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span md-highlight-text="locationInputText" md-highlight-flags="^i">{{item}}</span>
      </md-item-template>
    </md-autocomplete><br>

    <p ng-repeat="(key,lan) in vm.selectedLanguage"><!-- language display #issue:repeated value in the language-->
      <span layout="row" flex>
      <span flex="30">{{lan}}</span>
      <md-checkbox ng-model="vm.candidate.language.speak[lan]">Speak</md-checkbox>
      <md-checkbox ng-model="vm.candidate.language.read[lan]">Read</md-checkbox>
      <md-checkbox ng-model="vm.candidate.language.write[lan]">Write</md-checkbox>
      </span>
    </p>

    <div layout>
      <md-autocomplete
      md-selected-item="vm.lang"
      md-search-text-change=""
      md-search-text="vm.languageInputText"
      md-selected-item-change=""
      md-items="item in vm.language | filter: languageInputText"
      md-item-text="item"
      md-min-length="0"
      placeholder="Languages"
      md-menu-class="autocomplete-custom-template"
      flex=95>
        <md-item-template>
          <span md-highlight-text="languageInputText" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
      </md-autocomplete >
      <md-button class="md-icon-button md-primary" ng-click="vm.insertLang();vm.lang=''">
        <md-icon>add</md-icon>
      </md-button>
    </div>

  <section layout layout-padding="" layout-align="center center">
    <md-button type="submit" class="md-raised md-primary" ng-disabled=""> &nbsp;Register&nbsp;</md-button>
  </section>
  </md-card-content>
  </md-card>
</form>
</div>