<body ng-app="samarthPlacement">
 <!--form for the candidate starts-->
 <div ng-controller="candidateRegistrationController">
   <!-- <md-content class="md-no-momentum" md-whiteframe="6" layout-align="center center"> -->
   <h1 align="center">Candidate Registration</h1>
   <form name="myForm" layout-align="center" ng-submit="alertsubmit()" flex-offset="25" novalidate>
    <md-card class="md-no-momentum" md-whiteframe="6" flex="65" layout-margin="">
      <md-card-title><md-card-title-text>Primary Information</md-card-title-text></md-card-title>
      <md-card-content>
        <!--name field-->
        <md-input-container class="md-block">
          <label>Name</label>
          <md-icon>person</md-icon>
          <input name="myname" ng-model="candidate.name" type="text" minlength="5" md-maxlength="30" ng-required="true">
          <div ng-messages="myForm.myname.$error" role="alert">
            <div ng-message="required">You did not enter a field</div>
            <div ng-message="minlength">Your field is too short</div>
            <div ng-message="md-maxlength">Your field is too long</div>
          </div>
        </md-input-container>

        <!-- Mobile NO field -->
        <md-input-container class="md-block">
          <md-icon>phone</md-icon>
          <label>Mobile No</label>
          <input name="mobile" ng-model="candidate.phone" type="text" pattern="/^[0-9]{10}$/" md-maxlength="10" ng-required="true">
          <div ng-messages="myForm.mobile.$error" role="alert">
            <div ng-message="required">This field should be fill</div>
            <div ng-message="pattern">The value should have only 10 digit number</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email Id</label>
          <md-icon>email</md-icon>
          <input ng-model="candidate.email" type="email" ng-required="true">
        </md-input-container>


        <md-input-container class="md-block">
          <md-icon>work</md-icon>
          <label>Profession</label>
          <md-select ng-model="candidate.prof" ng-required="true">
            <md-option ng-repeat="p in prof" value="{{p.profession}}">
              {{p.profession}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <md-icon>location_on</md-icon>
          <label>Prefer Location</label>
          <md-select ng-model="candidate.location" ng-required="true">
            <md-option ng-repeat="loc in location" value="{{loc}}">
              {{loc}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm="">
          <md-icon>translate</md-icon>
          <label>Languages Known</label>
          <md-select ng-model="candidate.language" ng-required="true">
            <md-option ng-repeat="lan in languages" value="{{lan}}">
              {{lan}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
    </md-card>
    
    <section layout="row" layout-padding="" flex-offset="30" layout-align="start center">
      <md-button type="submit" class="md-raised md-primary" ng-disabled=""> &nbsp;Register&nbsp;</md-button>
    </section>
  </form>
</div>
</body>
<!--end of the applicaiton-->