<div layout="row" layout-xs="column" md-colors="{background: 'grey-100'}" layout-align="center center"  id="heading" class="md-headline" style="font-size:20;">
    {{results.length}} Candidates are offered
</div>

<div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding">

    <div ng-repeat="(key,x) in results | startFrom: pagination.page * pagination.perPage | limitTo: 4" flex-gt-sm="50" flex-sm="100">
        <my-skillcard candidateid="x.candidateid" picsize="small" contentsize="small">
            <badges>
                <verification-badge candidateid="x.candidateid">
                </verification-badge>
            </badges>
            <buttons layout="row">
                <div>
                <md-tooltip>
                    View Details
                </md-tooltip>
                <md-icon class="material-icons" ui-sref="index.verifyprofile({candidateid:x.candidateid})" layout-padding>contacts</md-icon>
              </div>

              <div>
                <md-tooltip>
                    Reject
                </md-tooltip>
                <md-icon ng-hide="flagr[key]" class="material-icons" ng-click="reject(x.candidateid,key)" layout-padding>thumb_down</md-icon>
                <md-icon ng-show="flagr[key]||x.rejectedDetail" style="color:red;"  class="material-icons" layout-padding>thumb_down</md-icon>
              </div>

            </buttons>
            <cardactions>
            </cardactions>
        </my-skillcard>
    </div>
    <div layout class="md-padding" flex>
        <div layout layout-align="start start" flex="50">
            <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
        </div>
        <div layout layout-align="end end" flex="50">
            <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
        </div>
    </div>
