<md-button ui-sref="index.applied.appliedCandidate({jobcode:jobcode})">Applied candidates
</md-button>
<md-button ui-sref="index.applied.acceptedCandidate({jobcode:jobcode})">Offered candidates
</md-button>
<md-button ui-sref="index.applied.rejectedCandidate({jobcode:jobcode})">Rejected candidates
</md-button>
<md-button ui-sref="index.applied.joinedCandidate({jobcode:jobcode})">Joined candidates
</md-button>
<md-button ui-sref="index.applied.declinedCandidate({jobcode:jobcode})">Declined candidates
</md-button>