<div layout="row" layout-xs="column" md-colors="{background: 'grey-100'}" layout-align="center center" id="heading" class="md-headline" style="font-size:20;">
    Showing {{results.length}} Candidates for the Job
</div>

<div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding">

    <div ng-repeat="x in results | startFrom: pagination.page * pagination.perPage | limitTo: 4" flex-gt-sm="50" flex-sm="100">
        <my-skillcard candidateid="x.candidateid" picsize="small" contentsize="small">
            <badges>
                <verification-badge candidateid="x.candidateid">
                </verification-badge>
            </badges>
            <buttons>
                <md-button class="md-primary" ui-sref="index.verifyprofile({candidateid:'{{x.candidateid}}'})">
                    <md-tooltip>
                        View Details </md-tooltip>
                        <md-icon class="material-icons">contacts</md-icon>
                    </md-button>
                    <md-button class="md-primary" ng-click="flag=true;apply(x.candidateid)" ng-hide="(flag)||x.applyStatus">
                        <md-tooltip>
                            Apply
                        </md-tooltip>
                        <md-icon class="material-icons">done</md-icon>
                    </md-button>

                    <md-button class="md-primary" aria-label="AppliedJob" ng-disabled="x.applyStatus" ng-show="(flag)||x.applyStatus">
                      <md-tooltip>
                        Apply
                    </md-tooltip>
                    <md-icon class="material-icons">done_all</md-icon>Applied
                </md-button>
            </buttons>
            <cardactions>
                <md-menu>
                    <md-button aria-label="open" class="md-icon-button" ng-click=openMenu($mdOpenMenu,$event)>
                        <md-icon class="material-icons">more horiz</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button ui-sref="index.verifyprofile({candidateid:x.candidateid})">
                                View profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>
                                Show Similar profiles
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </cardactions>
        </my-skillcard>
    </div>

    <div layout class="md-padding" flex>
        <div layout layout-align="start start" flex="50">
            <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
        </div>
        <div layout layout-align="end end" flex="50">
            <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
        </div>
    </div>
