<div layout= "row"  layout-align="center center " layout-padding   ng-cloak  flex>
 <md-content  md-whiteframe="6"  layout-margin="" flex="35">

  <form  name="myForm"  >
    <div  layout="row" layout-align="center">
      <h2>Samarth</h2>
    </div>

    <md-input-container  class="md-block">
     <md-icon>email</md-icon>
     <input name="email" id="email" ng-model="vm.user.email" placeholder="Email address" ng-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
     <div ng-messages="myForm.email.$error"  ng-show="myForm.email.$dirty || myForm.email.$touched">
      <div ng-message="required">Email is required.</div>
      <div ng-message="pattern"> Enter correct pattern</div>
    </div>
  </md-input-container> 

  <md-input-container  class="md-block">
   <md-icon>https</md-icon>
   <input name="password" type="password" id="password" ng-model="vm.user.pwd" placeholder="Password" ng-required="true" minlength="5" /> 
   <div ng-messages="myForm.password.$error"  ng-show="myForm.password.$dirty || myForm.password.$touched">
    <div ng-message="required">Password is required.</div>
    <div ng-message="minlength">password must be more than 5 digits</div>
  </div>
  </md-input-container>

<div layout="row" layout-align="center">

  <p> {{vm.err}} </p>
</div>
<div layout="row" layout-align="center" >
 <md-button type="submit"  ng-click="vm.login()"  class="md-raised md-primary" > Sign in </md-button> 
 </div>
 <div layout="row" layout-padding layout-align="center">

  <a ui-sref="index.createaccount" > Register coordinator </a>

</div>


</form>

</md-content>

</div>
