input:focus,
.forward:focus {
    outline: none;
}

.ques1 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 42px;
    height: 100px;
    border: 0;
    padding-left: 10px;
}

.forward {
    height: 100px;
    background-color: rgb(255, 255, 255);
    font-size: 42px;
    border: 0;
    padding-right: 5px;
    width: 100%;
}

.view {
    padding-top: 20px;
    float: right;
    font-size: 15px;
    color: #0098b4;
}

.view_module {
    font-size: 30px;
}

.removeIcon {
    color: white;
}

.questionArea {
    font-size: 20px;
}

.forwardIcon {
    font-size: 30px;
}

.thankuBox {
    text-align: center;
    color: #868686;
    font-size: 26px;
}

.pointCursor {
    cursor: pointer;
    border: 0;
}

.displayAlertMessage {
    text-align: center;
    color: red;
    font-size: 22px;
}

.ques-padding {
    padding-top: 20px;
}
