<div id="totalcardarea">
    <md-card layout="column" class="bodyContent" flex>
        <md-card-header layout-gt-sm="row" layout-sm="column" layout-xs="column" flex layout-padding class="headerSection">
            <md-card-header-text layout="column" ng-show="$ctrl.showheader" layout flex>
                <div layout="row" layout-align="start center">
                    <!-- Job role and job Department fields-->
                    <div flex="80" layout="column">
                        <div class="md-block md-padding">
                            <i class="material-icons md-display-1">school</i>
                            <span class="md-display-1">{{job.jobRole}}</span>
                        </div>
                        <div layout="row" class="md-block md-padding">
                            <i class="material-icons">layers</i>
                            <span class="md-display-1" layout="row">{{job.jobProfession}}</span>
                        </div>
                        <div layout="row" class="md-block md-padding">
                            <i class="material-icons">group_work</i>
                            <span class="md-title" layout="row">{{job.departmentName}}</span>
                        </div>
                    </div>
                    <!-- Logo -->
                    <div flex="20" layout="column" hide-xs>
                        <md-card-avatar class="avatar">
                            <img class="md-user-avatar avatar" ng-src="{{job.employer.employerLogo}}" alt="Logo">
                        </md-card-avatar>
                        <div></div>
                    </div>
                </div>
                <!-- Company name and location -->
                <div layout-xs="column" layout-gt-xs="row" flex>
                    <span class="md-title" flex-xs flex-gt-xs="60"><i class="material-icons md-padding">business</i>&nbsp;{{job.employer.employerName}}</span>
                    <span class="md-title" flex-xs flex-gt-xs="40"><i class="material-icons md-padding">location_on</i>&nbsp;{{job.jobLocation}}</span>
                </div>
            </md-card-header-text>
        </md-card-header>
        <md-card-content flex layout="column" class="md-padding">
            <div layout="column" class="md-padding">
                <!-- Skills required -->
                <label class="md-title md-padding"><i class="material-icons">pets</i><span>Skills Required</span></label>
                <md-chips ng-model="job.skillsRequired" class="md-padding" md-max-chips="3" readonly="true">
                    <md-chip-template>
                        <strong>{{$chip.skillName}}</strong>
                        <em>({{$chip.experience}}months)</em>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout-xs="column" layout-gt-xs="row">
                <span class="md-title" flex-xs flex-gt-xs="60">Experience:{{job.experience.experienceYear}}&nbsp;Years&nbsp;{{job.experience.experienceMonth}}&nbsp;months</span>
                <span class="md-title" flex-xs flex-gt-xs="40"><i class="material-icons">date_range</i>Posted on: {{job.jobPostDate | date:'yyyy-MM-dd'}}</span>
            </div>
            <div layout-xs="column" layout-gt-xs="row">
                <div flex="">
                    <i class="material-icons">next_week</i>
                    <span class="md-title" flex-xs flex-gt-xs="60">Salary offered : &#8377; {{job.salaryOffered}}</span>
                </div>
                <span class="md-title" flex-xs flex-gt-xs="40"><i class="material-icons">date_range</i>Last date: {{job.jobLastDate | date:'yyyy-MM-dd'}}.</span>
            </div>
        </md-card-content>
        <!-- The action bar for card, can include anything inside this while using the webcomponents -->
        <md-card-actions layout="row" layout-align="end center">
            <a id="jsonDownload" ng-click="downloadedData()">
                <md-icon class="material-icons">share</md-icon>
            </a>
            <a id="download">
                <md-button ng-click="render($event)">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
            </a>
            <div class="action" ng-transclude>
            </div>
        </md-card-actions>
    </md-card>
</div>
