<div flex-xs="100" flex-gt-xs="100">
	<div layout="row" layout-align="center center" layout-xs="column" layout-padding md-colors="{background: 'grey-200'}">
		<span class=" md-subhead" id="heading">Hi,&nbsp;</span>
		<span class=" md-subhead" id="heading"> {{message | uppercase}}!</span>
		<span id="heading" class="md-headline">
		</div>
		<div layout="row" layout-align="center center" layout-xs="column" >
		</div>
	</div>
	<div layout="row" layout-xs="column" layout-wrap layout-align="center center"  >
		<div ng-repeat="center in centerdetails" flex-xs=" 25 " flex-gt-xs="25" flex-gt-md="30"  flex-md="40" flex-sm="40">
			<circle data='center'>

				<circle-stats>
					<div layout="row" >
						<span class="md-subhead " flex-offset="5" md-colors="{color: 'blue-700'}"  >Total Candidates:</span>
						<span class="md-title " md-colors="{color: 'blue-700'}">{{center.NbrOfCandidates}}
						</span>
						<span class="md-subhead " flex-offset="25"  md-colors="{color: 'red-700'}"> Total Coordinators:</span>
						<span class="md-title "  md-colors="{color: 'red-700'}">{{center.NbrOfCoordinators}}</span>
					</div>
				</circle-stats>

				<circle-actions>
					<div layout="row" layput-margin="">
					 <md-button ui-sref="index.candidate({profession:'{{prof.profession}}'})">
						 <ng-md-icon icon="people" md-colors="{color: 'blue-A700'}"> </ng-md-icon>CANDIDATES
					 </md-button>

					 <md-button ui-sref="index.getcoordinator">
						 <ng-md-icon icon="people" md-colors="{color: 'blue-A700'}"> </ng-md-icon>COORDINATORS
					 </md-button>
				 </div>
				</circle-actions>
		</circle>
	</div>
</div>
</div>
