<!-- <div flex='30'>
<div  flex></div>
<div  flex></div>
</div> -->
<!-- <div layout='row' flex>
      <div flex='40'>
                  <div layout="row">
                      <div class='{{candStatsClassName}}' md-whiteframe-1dp chartBG flex layout-padding layout-margin>Candidates</div>



                    <div layout="row">
                          <div class='{{jobStatsClassName}}' md-whiteframe-1dp chartBG flex layout-padding layout-margin>Jobs</div>
                        <div>
      </div>
  </div> -->
  <div layout="row" flwx="30">
                          <div flex layout-margin>
                              <div class='md-title' md-colors="{color: 'indigo-700'}" flex-offset="5">Candidates</div>
                              <div div class='{{candStatsClassName}}' flex layout-padding layout-margin></div>
                          </div>
                          <div flex layout-margin >
                              <div class='md-title'  md-colors="{color: 'indigo-700'}" flex-offset="25" >Jobs</div>
                              <div  class='{{jobStatsClassName}}' flex layout-padding layout-margin></div>
                          </div>
                      </div>
