<div flex-xs="100" flex-gt-xs="100">

  <div layout="row" layout-align="center center" layout-xs="column" layout-padding md-colors="{background: 'grey-200'}">
    <span  class=" md-title" id="heading">Hi,&nbsp;</span>
    <span class=" md-title" id="heading"> {{message | uppercase}}!</span>
    <span  id="heading" class="md-headline">We create opportunities for Job-Seekers
    </div>
    <div layout="row" layout-align="center center" layout-xs="column" >

    </div>
  </div>
  <div layout="row" layout-xs="column" >
   <div ng-repeat="prof in profiling" flex-xs=" 25 " flex-gt-xs="25" flex-gt-md="30"  flex-md="40" flex-sm="40">

     <circle data='prof'>
       <circle-stats>
         <md-card-header>
             <md-card-header-text >
                 <b>  <span class="md-headline" md-colors="{color: 'indigo'}">{{prof.profession | uppercase}}</span></b>
             </md-card-header-text>
         </md-card-header>
         <md-divider></md-divider>
         <md-card-content >


        <div layout="row" >
          <span class="md-subhead " md-colors="{color: 'grey-A700'}">Total Candidates:</span>
          <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.Candidate}} </div>
          <div layout="row"  >
            <span class="md-subhead " md-colors="{color: 'grey-A700'}" >Candidates looking for jobs:</span>
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.Looking}}
            </span>
          </div>
          <div layout="row" >
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">Candidates Not looking for jobs:</span>
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.NotLooking}}

            </span>
          </div>

          <div layout="row" >
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">Candidates Applied for jobs:</span>
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.applied}}</span>
          </div>

          <div layout="row" >
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">Candidates who did not Apply for jobs:</span>
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.notApplied}}</span>
          </div>
          <div layout="row" >
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">Candidates placed:</span>
            <span class="md-subhead " md-colors="{color: 'grey-A700'}">{{prof.placed}}</span>
          </div>
           </md-card-content>
           <md-card-actions layout="row">
               <md-button ui-sref="index.job({profession:'{{$ctrl.data.name}}'})">
                   <ng-md-icon icon="layers" md-colors="{color: 'blue-A700'}"> </ng-md-icon>JOBS
                   </md-button>
                   <span flex></span>
               <md-button ui-sref="index.candidate({profession:'{{$ctrl.data.name}}'})">
                   <ng-md-icon icon="people" md-colors="{color: 'blue-A700'}"> </ng-md-icon>CANDIDATES
               </md-button>
           </md-card-actions>
        </circle-stats>
      </circle>
    </div>
  </div>
</div>
