
<div flex-xs="100" flex-gt-xs="100">

    <div layout="row" layout-align="center center" layout-xs="column" layout-padding md-colors="{background: 'indigo-100'}">
      <span class="md-headline" >Hii</span>
      <span class="md-headline">{{message | uppercase}}

                <span class="md-headline" > ! We create opportunities for Job-Seekers
      </div>
      <div layout="row" layout-align="center center" layout-xs="column" >

          </div>
  </div>
   <div layout="row" layout-xs="column" >
       <div ng-repeat="prof in profiling" flex-xs=" 25 " flex-gt-xs="25" flex-gt-md="30"  flex-md="40" flex-sm="40">
           <circle data='prof' ></circle>
       </div>
   </div>
</div>
