<div style="font-size:24px;" layout="row" layout-align="center center" layout-xs="column"  layout-padding md-colors="{background: 'grey-100'}">
      <span class="md-headline" id="heading"  >Profile Import</span>
</div>
<div layout="column" layout-gt-xs="row" layout-align="center" layout-margin="" >
    <div layout="row"  layout-padding md-colors="{background: 'grey-100'}">
        <form name="form" >
        	<div layout="row">
        		<md-input-container class="md-icon-float md-block">
					      <label>Upload File...!</label>
					      <md-icon>file_upload</md-icon>
					      <input ng-model="file.name" type="text" disabled>
    				</md-input-container>
        	</div>
        	<md-button class="md-raised" ngf-select ng-model="file" name="file">
		      		Browse file
		      	</md-button>
		      
		      <!-- <div layout="row" layout-align="end end" > -->
		      	<md-button type="submit" class="md-raised md-primary" ng-click="submit($event)">IMPORT</md-button>
		      <!-- </div> -->
		      
  </form>
    </div>
</div>