<div style="font-size:24px;" layout="row" layout-align="center center" layout-xs="column"  layout-padding md-colors="{background: 'grey-100'}">
      <span class="md-headline" id="heading"  >Profile Import</span>
</div>
<div layout="column" layout-gt-xs="row" layout-align="center" layout-margin="" >
    <div layout="row" class="md-whiteframe-2dp" layout-padding md-colors="{background: 'grey-400'}">
        <form name="form">
		      <div class="button" ngf-select ng-model="file" name="file">
		      		<h2>Click here to select file!!!</h2>
		      </div><br><br>
		      <h3>Click on SUBMIT after selecting the file...</h3>
		      <button type="submit" ng-click="submit()">SUBMIT</button>
  </form>
    </div>
</div>