<div layout="row" layout-align="center center" layout-xs="column" layout-padding >
  <span class=" md-title" id="heading">{{message0}}</span>
  <span class=" md-display-2" id="heading">{{message1}}</span>
  <span  id="heading" class="md-headline">{{message2}}
</div>
<div layout="column" layout-gt-sm="row" layout-sm="column" layout-align="center center" layout-wrap class="md-padding" flex-gt-sm flex-sm flex-xs>
    <div ng-repeat="data in result | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" flex-xs flex-sm='50' flex-gt-sm='30' flex-gt-md='30' >
    <job-card data="data">
      <buttons>
        <md-button class="md-primary" aria-label="view Details" ui-sref="index.jobPost({'key':1,'key1':data.jb})"><md-tooltip>View Details</md-tooltip>
        <md-icon class="material-icons">contacts</md-icon></md-button>
        <span>
        <md-button class="md-primary" aria-label="applyJobs" ui-sref="index.candidatePlacement({profession:data.jb.profession,jobcode:data.jb.jobcode,job:data})"><md-tooltip>Suggest</md-tooltip>
        <md-icon class="material-icons">call_made</md-icon></md-button></span>
      </buttons>
    </job-card>
   </div>
  <div layout class="md-padding" flex>
    <div layout layout-align="start start" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
    </div>
    <div layout layout-align="end end" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
    </div>
  </div>
</div>