<div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding" flex-gt-sm flex-sm>
    <div ng-repeat="data in result | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" flex-xs flex-gt-xs='50' flex-gt-sm='50' flex-gt-md='50' >

    <job-card data="data"></job-card>
   </div>
  <div layout class="md-padding" flex>
    <div layout layout-align="start start" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
    </div>
    <div layout layout-align="end end" flex="50">
        <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
    </div>
  </div>
</div>

 <!-- <div layout layout-align="center center" >
  <div layout-sm="column" layout-md="column" layout-xs="column" layout-gt-md="column" layout-align="center center" >
     <md-card class="md-whiteframe-8dp" layout-gt-md="row"  flex-gt-md="70" flex-xs="40"  layout-md="row" layout-xs="row"  ng-repeat="item in result" class="md-whiteframe-2dp" >
      <md-card-title  class="item item-divider center-text">
        <md-card-title-text>
        <h1 md-colors="{color: 'blue-A100', 'border-color': 'primary-600'}" >
        <span><md-tooltip>Title</md-tooltip><ng-md-icon icon="perm_identity" size="20"></span>
           {{item.title}}</h1>
        <p><span><md-tooltip>Role</md-tooltip><ng-md-icon icon="work" size="20"></span>
           {{item.role}}
        </p>
        <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Language </strong></span>
          {{item.language[0].name}}
          </p>
       <div layout-gt-md="row" layout-xs="column" layout-md="row" layout-sm="column" flex-xs="10">
         <p ><span><ng-md-icon icon="location_on" size="20"><md-tooltip>Location</md-tooltip></ng-md-icon>
            <span>{{item.location}}</span></span>
         </p>
         <p ><span><ng-md-icon icon="event_busy" size="20"><md-tooltip>Closing Date For the Job</md-tooltip>
                            </ng-md-icon>
                            {{item.closedate|date:'yyyy-MM-dd'}}
         </span></p>
         <p ><span><ng-md-icon icon="person_add" size="20"><md-tooltip>
            Job opennings
          </md-tooltip></ng-md-icon></span>
                {{item.openings}}
         </p>
       </div>
       <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Skills</strong></span><br>
         <p>{{item.skills.name}}</p>
         <p><span><ng-md-icon icon="history" size="20"><md-tooltip>
            Experience
          </md-tooltip></ng-md-icon></span>
         {{item.experience}}
       </p>
        <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Skills</strong></span><br>
      <md-chips class="custom-chips" ng-model="item.skills" md-transform-chip="ctrl.newSkill($chip)" md-removable="false">
       <md-chip-template>
        <span>
        <strong>{{$chip.name}}</strong>
         <em>({{$chip.expertise}})</em>
         <em>({{$chip.priority}})</em>
        </span>
       </md-chip-template>
       </md-chips>
       </p>
       <p><span md-colors="{color:'primary'}" class="md-subhead"><md-tooltip><strong>Salary</strong></md-tooltip></span><br>
          {{item.salary}}
       </p>
      <md-card-action layout align="end center">
         <md-button class="md-raised md-primary" aria-label="view Details">View Details</md-button>
         <span><md-button class="md-raised md-primary" aria-label="view Details">Show Similar Profile</md-button></span>
       </md-card-action>
        </md-card-title-text>
     </md-card-title>
    </md-card>
  </div>
</div> -->

<!-- <div layout-gt-sm="row" layout-sm="column" layout-wrap class="md-padding" layout-align="center center">
    <div ng-repeat="job in jobs | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class="md-padding" flex-gt-sm="50" flex-sm="100">
        <job-card data='{"jobID":job.jobID,"employerID":job.employer.employerID}'>
            <md-menu>
                <md-button aria-label="open" class="md-icon-button" ng-click=openMenu($mdOpenMenu,$event)>
                    <md-icon class="material-icons">more horiz</md-icon>
                </md-button>
                <md-menu-content width="4">
                    </menu-content>
                    <md-menu-item>
                        <md-button ui-sref="index.jobProfileView({jobID:'{{job.jobID}}',employerID:'{{job.employer.employerID}}'})">
                            View profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Verify profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Show Similar profiles
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Add to Circles
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </job-card>
    </div>

</div>
 <a ui-sref="index.jobSearch">Back To Job Search</a> -->
