<!-- <job-search-result result ="result" layout="column"></job-search-result> -->
 <!--  <md-button class="md-raised md-primary" aria-label="search"  ui-sref="index.jobsearchresult({searchstr:'{{searchString}}'})">	<md-icon>search</md-icon>
	  </md-button> -->
<div layout="row" layout-align="center" layout-margin=""  >
    <input type="text" name="searchBox" size="30px" layout-xs="size=24px;" md-focus ng-model="searchText" class="md-block">
    <md-button class="md-raised md-primary" ui-sref="index.jobSearch.results({searchText:searchText})" ng-click="searchJob(searchText)" >Find Jobs</md-button>
</div>
<div class="md-padding md-display-2" layout layout-align="center center" style="font-size:32;">
     {{message}}
</div>
<div ui-view="results"></div>
