<!-- <div id="content" class="md-padding" layout-xs="column" layout="row"> -->
<div id="totalcardarea" flex-xs flex-gt-xs layout="column" layout-xs="column" class="md-padding ">
    <md-card class="md-whiteframe-2dp" md-theme='default' md-theme-watch>
        <md-card-header id="headersection" ng-show="$ctrl.showheader" hide-gt-sm>
            <md-card-header-text>
                <span class="details2">{{$ctrl.data.name}}<br>
            </md-card-header-text>
            <div layout="row">
                <div ng-transclude="badges">
                </div>
                <md-card-avatar id="avatar">
                    <!-- <img class="circle" ng-src="{{$ctrl.data.profilepic}}"> -->
                    <img ng-if="$ctrl.picsize == 'small'" class="pic_circle_small" ng-src="{{$ctrl.data.profilepic}}">
                    <img ng-if="$ctrl.picsize != 'small'" class="pic_circle_default" ng-src="{{$ctrl.data.profilepic}}">
                </md-card-avatar>
                
            <!-- </div> --> 
                <div ng-transclude="badges">
                </div>
</div>
<!--  </div> -->
</md-card-header>
<md-card-content ng-if="$ctrl.picsize == 'small'" class="content_small">
    <div layout="row" layout-align="center center">
        <div flex="25" hide-sm hide-xs>
            <div layout="column" layout-align="center center">
                <div layout-align="center center">
                        <md-card-avatar id="avatar">
                            <!-- <img class="profile_pic_circle" ng-src="{{$ctrl.data.profilepic}}"> -->
                            <img ng-if="$ctrl.picsize == 'small'" class="pic_circle_small" ng-src="{{$ctrl.data.profilepic}}">
                    <img ng-if="$ctrl.picsize != 'small'" class="pic_circle_default" ng-src="{{$ctrl.data.profilepic}}">
                        </md-card-avatar>
                        
                </div>
                <div>
                    <span class="details2">{{$ctrl.data.name}}</span>
                <br>
                <!-- <span id="headerage" >({{$ctrl.data.age}} yrs , {{$ctrl.data.gender}})</span></span>
                    <span class="md-subhead">{{$ctrl.data.designation}}</span> -->
</div>
</div>
</div>
<div flex="75" flex-xs="100">
    <div flex="100" hide-gt-sm>
        <div layout="column" layout-align="center center">
            <div>
                    <md-card-avatar id="avatar">
                        <img ng-if="$ctrl.picsize == 'small'" class="pic_circle_small" ng-src="{{$ctrl.data.profilepic}}">
                        <img ng-if="$ctrl.picsize != 'small'" class="pic_circle_default" ng-src="{{$ctrl.data.profilepic}}">
                    </md-card-avatar>
            </div>
            <div>
                <span flex-offset="15" layout-align="center center" class="detail">{{$ctrl.data.name}}</span>
                <br>
                <span flex-offset="20" layout-align="center center">{{$ctrl.data.age}} yrs , {{$ctrl.data.gender}}</span>
                <br>
                <br>
                <span flex-offset="20" class="detail1" layout-align="center center"><md-icon class="material-icons">work</md-icon> {{$ctrl.data.profession}} </span>
                <br>
                <span flex-offset="25" flex-offset-sm="15">
                        ({{$ctrl.data.designation}})
                        </span>
                <br>
                <br>
                <span flex-offset="20"><md-icon class="material-icons">phone</md-icon> {{$ctrl.data.contact}}</span>
                <br>
                <span flex-offset="5" layout-align="center center">
                        <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                </span>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div layout="column">
        <div layout="row" id="section1" flex hide-xs hide-sm layout-align="center center">
            <div flex align="left" layout="column" layout-padding>
                <span flex>
    <span class="details3"><md-icon class="material-icons md-10">work</md-icon> {{$ctrl.data.profession}}<span class="detail1"> ( {{$ctrl.data.designation}} )</span>
            </div>
        </div>
        
        <div flex-offset="5" flex="20" layout="column" layout-align-xs="center center" layout-align-sm="center center">
            <p>
                <md-icon class="material-icons">room</md-icon>
                <span>{{$ctrl.data.location}}</span>
            </p>
            <p>
                <md-icon class="material-icons">phone</md-icon>
                <span>{{$ctrl.data.contact}}</span>
            </p>
        </div>
        <div flex="40" flex-offset="5" flex-offset-sm="35" id="section2" layout="column">
            <span>
                        <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
            </span>
        </div>
    </div>
    <div layout="row" layout-align="start center">
        <br>
        <br>
        <md-chips flex-offset="5" id="section4" ng-model="$ctrl.data.skills" ng-if="$ctrl.data.skills != undefined" readonly="true" md-removable="false" name="skills" layout-align="center center">
            <md-chip-template md-colors="{color: 'primary-700'}">
                {{$chip.skillname}}
            </md-chip-template>
        </md-chips>
    </div>
</div>
</div>
<md-card-actions id="skillcardtoolbar" layout="row" layout-align="end center">
    <a ng-href="{{ $ctrl.fileUrl }}" download="Scard.json">
        <md-icon class="material-icons">share</md-icon>
    </a>
    <a id="download">
        <md-button ng-click="$ctrl.render($event)">
            <md-icon class="material-icons">file_download</md-icon>
        </md-button>
    </a>
    <span ng-transclude="cardactions">
    </span>
</md-card-actions>
</div>
</md-card-content>
<md-card-content ng-if="$ctrl.picsize != 'small'" class="content_default">
    <div layout="row" layout-align="center center" class="md-whiteframe-2dp">
        <div flex="25" hide-sm hide-xs>
            <div layout="column" layout-align="center center">
                <div layout-align="center center">
                    <div ng-hide="$ctrl.showEditForm">
                        <a href="#" ng-click="$ctrl.edit()" class="md-icon-button" aria-label="edit">
                        <md-tooltip md-direction="right">
                         click here to upload New Pic
                            </md-tooltip>
                            <md-card-avatar id="avatar">
                                <!-- <img class="profile_pic_circle" ng-src="{{$ctrl.data.profilepic}}"> -->
                                <img ng-if="$ctrl.picsize == 'small'" class="pic_circle_small" ng-src="{{$ctrl.data.profilepic}}">
                                <img ng-if="$ctrl.picsize != 'small'" class="pic_circle_default" ng-src="{{$ctrl.data.profilepic}}">
                            </md-card-avatar>
                        </a>
                    </div>
                    <div ng-show="$ctrl.showEditForm">
                        <md-input-container>
                        <label>Paste your new Pic Url</label>
                        <input type="text" ng-model="$ctrl.picUrl">

                        <md-button class="md-primary" ng-click="$ctrl.edit($ctrl.picUrl)">
                        <md-icon class="material-icons md-18">file_upload</i></md-icon>
                        </md-button>
                        </md-input-container>
                    </div>
                </div>
                <div>
                    <span class="details2">{{$ctrl.data.name}}</span>
                    <br>
                    
                </div>
            </div>
        </div>
        <div flex="75" flex-xs="100">
            <div flex="100" hide-gt-sm>
                <div layout="column" layout-align="center center">
                   <div ng-hide="$ctrl.showEditForm">
                        <a href="#" ng-click="$ctrl.edit()" class="md-icon-button" aria-label="edit">
                        <md-tooltip md-direction="right">
                         click here to upload New Pic
                            </md-tooltip>
                            <md-card-avatar id="avatar">
                                <!-- <img class="profile_pic_circle" ng-src="{{$ctrl.data.profilepic}}"> -->
                                <img ng-if="$ctrl.picsize == 'small'" class="pic_circle_small" ng-src="{{$ctrl.data.profilepic}}">
                                <img ng-if="$ctrl.picsize != 'small'" class="pic_circle_default" ng-src="{{$ctrl.data.profilepic}}">
                            </md-card-avatar>
                        </a>
                    </div>
                    <div ng-show="$ctrl.showEditForm">
                        <md-input-container>
                        <label>Paste your new Pic Url</label>
                        <input type="text" ng-model="$ctrl.picUrl">

                        <md-button class="md-primary" ng-click="$ctrl.edit($ctrl.picUrl)">
                        <md-icon class="material-icons md-18">file_upload</i></md-icon>
                        </md-button>
                        </md-input-container>
                    </div>
                    <div>
                        <span flex-offset="15" layout-align="center center" class="detail">{{$ctrl.data.name}}</span>
                        <br>
                        <span flex-offset="20" layout-align="center center">{{$ctrl.data.age}} yrs , {{$ctrl.data.gender}}</span>
                        <br>
                        <br>
                        <span flex-offset="20" class="detail1" layout-align="center center"><md-icon class="material-icons">work</md-icon> {{$ctrl.data.profession}} </span>
                        <br>
                        <span flex-offset="25" >
                        ({{$ctrl.data.designation}})
                        </span>
                        <br>
                        <br>
                        <span flex-offset="20"><md-icon class="material-icons">phone</md-icon> {{$ctrl.data.contact}}</span>
                        <br>
                        <span flex-offset="5" layout-align="center center">
                        <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div layout="column">
                <div layout="row" id="section1" flex hide-xs hide-sm>
                    <div flex align="left" layout="column" layout-padding>
                        <span flex flex-offset="5">
    <span class="details2"><md-icon class="material-icons md-20">work</md-icon> {{$ctrl.data.profession}}<span class="detail1"> ( {{$ctrl.data.designation}} )</span>
                    </div>
                </div>
                <div layout="row" flex flex-offset="5" hide-xs hide-sm>
                    <div flex="30" id="section1" layout="column">
                        <div flex>
                            <span flex-offset="5">
                                <md-icon class="material-icons">cake</md-icon>
                                </span>
                            <span>
                                        {{$ctrl.data.dob}} ({{$ctrl.data.age}} yrs)
                                        
                            </span>
                        </div>
                        <div flex flex-offset="5" layout="column">
                            <p>
                                <md-icon></md-icon>
                                {{$ctrl.data.maritalstatus}} , {{$ctrl.data.gender}}
                            </p>
                        </div>
                    </div>
                    <!-- <md-divider></md-divider> -->
                    <div flex="20" layout="column" layout-align-xs="center center" layout-align-sm="center center">
                        <p>
                            <md-icon class="material-icons">room</md-icon>
                            <span>{{$ctrl.data.location}}</span>
                        </p>
                        <p>
                            <md-icon class="material-icons">phone</md-icon>
                            <span>{{$ctrl.data.contact}}</span>
                        </p>
                    </div>
                    <div flex="40" id="section2" layout="column">
                        <span>
                        <md-icon class="material-icons">mail outline</md-icon>
                            <span>{{$ctrl.data.email}}</span>
                        </span>
                    </div>
                </div>
                <div layout="row">
                    <br>
                    <br>
                    <md-chips flex-offset="5" flex-offset-xs="10" flex-offset-sm="20" id="section4" ng-model="$ctrl.data.skills" ng-if="$ctrl.data.skills != undefined" readonly="true" md-removable="false" name="skills" layout-align-xs="center center">
                        <md-chip-template md-colors="{color: 'primary-700'}">
                            {{$chip.skillname}}
                        </md-chip-template>
                    </md-chips>
                </div>
                <md-card-actions id="skillcardtoolbar" layout="row" layout-align="end center">
                    <a ng-href="{{ $ctrl.fileUrl }}" download="Scard.json">
                        <md-icon class="material-icons">share</md-icon>
                    </a>
                    <a id="download">
                        <md-button ng-click="$ctrl.render($event)">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                    </a>
                    <span ng-transclude="cardactions">
    </span>
                </md-card-actions>
            </div>
        </div>
    </div>
</md-card-content>
</md-card>
</div>
<!-- </div>