<div layout flex>
  <div class="md-no-momentum" layout="column" layout-padding="" flex-gt-lg="50" flex-offset-gt-lg="25" flex-lg="50" flex-offset-lg="25" flex-md="50" flex-offset-md="25" flex-sm="90" flex-offset-sm="5" flex-xs>

    <div class="md-no-momentum" md-whiteframe="6" layout-margin="" layout-align="center center">

        <div layout="row" layout-align="center center">
                    <h3 md-title md-colors="{color: 'blue-A700'}">Coordinator Registration</h3>
                </div>

      <form name="myForm" ng-submit="vm.clickSubmit(vm.coordinator)">
        <md-input-container class="md-block">
          <label>Name</label>
          <md-icon>person</md-icon>
          <input ng-model="vm.coordinator.name" name="name" type="text" pattern="[a-zA-Z\s]+" md-maxlength="30" required />
          <div ng-messages="myForm.Name.$error" ng-show="myForm.Name.$dirty || myForm.Name.$touched">
            <div ng-message="pattern">only character and spaces allowed</div>
            <div ng-message="md-maxlength">Length should not be more than 30 characters</div>
             <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        <md-radio-group name="gender" ng-model="vm.coordinator.gender" layout="row" ng-required="true">
          <label><md-icon>wc</md-icon>&nbsp;&nbsp;Gender&nbsp;&nbsp;</label>
          <md-radio-button value="Male" class="md-primary">Male</md-radio-button>
          <md-radio-button value="Female" class="md-primary">Female</md-radio-button>
        </md-radio-group>

        <md-input-container class="md-block">
          <md-icon>phone</md-icon>
          <input ng-model="vm.coordinator.mobile" name="number" type="text" pattern="[0-9]{10,10}" md-maxlength="10" placeholder="Mobile Number" ng-required="true" />
          <div ng-messages="myForm.number.$error" ng-show="myForm.number.$dirty || myForm.Name.$touched">
            <div ng-message="pattern">10 digit number is allowed only </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon aria-label="email">email</md-icon>
          <input name="emailId" ng-model="vm.coordinator.coordinatorEmail" type="email" placeholder="Email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" ng-required="true" />
          <div ng-messages="myForm.emailId.$error" ng-show="myForm.emailId.$dirty || myForm.emailId.$touched">
            <div ng-message="pattern">Format for email:- abc@xyz.com </div>
            </div>
        </md-input-container>

        <md-input-container  class="md-block"  >
          <md-icon>https</md-icon>
          <input name="password" type="password" id="password" ng-model="vm.coordinator.password" placeholder="Password" ng-required="true" minlength="5" />
          <div ng-messages="myForm.password.$error"  ng-show="myForm.password.$dirty || myForm.password.$touched">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be more than 5 digits</div>
          </div>
        </md-input-container>


        <md-input-container layout="column">
        <md-icon>layers</md-icon>

          <label>Profession</label>
          <md-select ng-model="vm.coordinator.coordinatorProfession" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-required=true multiple>
            <md-option ng-value="item" ng-repeat="item in vm.items | filter:searchTerm">{{item}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container layout="column">
        <md-icon>school</md-icon>
          <label>Role</label>
          <md-select ng-model="vm.coordinator.role" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" ng-required=true multiple>
            <md-option ng-value="itemm" ng-repeat="itemm in vm.itemm">{{itemm}}</md-option>
          </md-select>
        </md-input-container>
<!--
        <md-input-container layout="column" align-layout="left left">
          <span><md-icon>room</md-icon>
          </span>
          <md-autocomplete
            md-selected-item="vm.coordinator.location"
            md-search-text-change="coordinator.getPlacCenter(coordinator.user.location)"
            md-search-text="locationInputText"
            md-selected-item-change=""
            md-items="item in vm.location | filter: locationInputText"
            md-item-text="item"
            md-min-length="0"
            md-menu-class="autocomplete-custom-template"
            md-floating-label="Location"
            ng-required=true >
            <md-item-template>
              <span  md-highlight-text="locationInputText" md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
          </md-autocomplete>
        </md-input-container>

         <md-input-container layout="column" align-layout="left left">
            <label>Placement center</label>
            <md-icon class="material-icons">business_center</md-icon>
            <md-select name="placementCenter" ng-model="vm.coordinator.placementCenter">
                <md-option ng-repeat="centers in vm.coordinator.placementCenter" ng-value="centers.placementCenter">{{centers.placementCenter}}</md-option>
            </md-select>
        </md-input-container>  -->

         <div layout="row" layout-align="center center">
        <md-input-container flex>
            <label>Location</label>
            <md-icon class="material-icons">place</md-icon>
            <md-select ng-change="vm.getPlacCenter(vm.coordinator.location)" name="location" ng-model="vm.coordinator.location">
                <md-option ng-repeat="locations in vm.location" ng-value="locations">{{locations}}</md-option>
            </md-select>
            </md-input-container>
        </div>

                    <!-- Placement center -->

        <div layout="row" layout-align="center center">
        <md-input-container flex>
            <label>Placement center</label>
            <md-icon class="material-icons">business_center</md-icon>
            <md-select name="placementCenter" ng-model="vm.coordinator.placementCenter">
                <md-option ng-repeat="centers in vm.placementCenter" ng-value="centers['c.name']">{{centers['c.cname']}}</md-option>
            </md-select>
            </md-input-container>
        </div>


        <div layout data-ng-repeat="iteration in vm.selectedLanguage">
          <md-autocomplete
          md-selected-item="vm.lang[iteration]"
          md-search-text-change=""
          md-search-text="languageInputText"
          md-selected-item-change=""
          md-items="item in vm.language | filter: languageInputText"
          md-item-text="item"
          md-min-length="0"
          md-menu-class="autocomplete-custom-template"
          md-floating-label="Languages"
          ng-required=true>
            <md-item-template>
              <span md-highlight-text="languageInputText" md-highlight-flags="^i">{{item}}</span>
            </md-item-template>
          </md-autocomplete >
          <div>
            <p>
              <md-checkbox ng-model="vm.tempLanguage[iteration].speak">Speak</md-checkbox>
              <md-checkbox ng-model="vm.tempLanguage[iteration].read">Read</md-checkbox>
              <md-checkbox ng-model="vm.tempLanguage[iteration].write">Write</md-checkbox>
            </p>
          </div>
        </div>
        <div layout>
          <span flex></span>
          <md-button  class="md-fab md-mini" ng-click="vm.insertLang()" md-colors="{background: 'grey-400'}">
            <md-tooltip>
              Add a new language
            </md-tooltip>
            <md-icon>add</md-icon>
          </md-button>
          <md-button  class="md-fab md-mini" ng-click="vm.removeLang()" md-colors="{background: 'grey-400'}">
            <md-tooltip>
              Remove a language
            </md-tooltip>
            <md-icon>remove</md-icon>
          </md-button>
        </div>

        <div layout="row" layout-align="center" ng-hide="vm.hide" style="color:red;">
          <p>{{vm.msg}}</p>
        </div>
        <section layout="row" layout-padding="" layout-align="center">
          <md-button type="submit" class="md-raised md-primary">&nbspAdd&nbsp</md-button>
        </section>

        </form>

    </div>
  </div>
</div>
