<div layout=row flex ng-controller="coorRegCtrl">
    <div class="md-no-momentum" layout="column" layout-padding="" layout-align="center center" flex>
      <md-content class="md-no-momentum" md-whiteframe="6" layout-margin="" layout-align="center center">
        <h1>Coordinator Registration</h1><br>
        <form name="myForm" ng-submit="vm.clickSubmit()">
          <md-input-container class="md-block" >
            <!-- Use floating label instead of placeholder -->
            <label>Name</label>
            <md-icon>person</md-icon>
            <input ng-model="vm.coordinator.name" name="Name" type="text" pattern="[a-zA-Z\s]+" md-maxlength="30" ng-required="true">
            <div ng-messages="myForm.Name.$error" ng-show="myForm.Name.$dirty || myForm.Name.$touched">
              <div ng-message="pattern">only character and spaces allowed</div>
              <div ng-message="md-maxlength">Length should not be more than 30 characters</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <md-icon>phone</md-icon>
            <input ng-model="vm.coordinator.phone" name="number" type="text" pattern="[0-9]{10,10}" md-maxlength="10" md-minlength="10" placeholder="Phone Number" ng-required="true">
            <div ng-messages="myForm.number.$error" ng-show="myForm.number.$dirty || myForm.Name.$touched">
              <div ng-message="pattern">10 digit number is allowed only </div>
            </div>
          </md-input-container>
          <!-- radio -->
          <md-radio-group ng-model="vm.coordinator.gender" layout="row" ng-required="true" layout-padding="">
            <label>Gender:</label>
            <md-radio-button value="Male">Male</md-radio-button>
            <md-radio-button value="Female">Female</md-radio-button>
          </md-radio-group>

          <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon>email</md-icon>
            <input ng-model="vm.coordinator.email" type="email" placeholder="Email (required)" ng-required="true">
          </md-input-container>
          <md-input-container layout="column">
            <label>Profession</label>
            <md-select ng-model="vm.coordinator.profession" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
              <md-select-header class="demo-select-header">
                <md-optgroup label="Profession">
                  <input ng-model="searchTerm" type="search" placeholder="Search for a Profession.." class="demo-header-searchbox md-text">
                </md-optgroup>
              </md-select-header>
              <md-option ng-value="item" ng-repeat="item in vm.items | filter:searchTerm">{{item}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container layout="column">
            <label>Role</label>
            <md-select ng-model="vm.coordinator.Role" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
              <md-select-header class="demo-select-header">
                <md-optgroup label="Role">
                  <input ng-model="searchTerm" type="search" placeholder="Search for a Role.." class="demo-header-searchbox md-text">
                </md-optgroup>
              </md-select-header>
              <md-option ng-value="item" ng-repeat="item in vm.items | filter:searchTerm">{{item}}</md-option>
            </md-select>
          </md-input-container>

          <p ng-repeat="(key,lan) in vm.selectedLanguage"> <!-- language display #issue:repeated value in the language-->
             <span layout>
             <span flex="30">{{lan}}</span>
             <md-checkbox ng-model="vm.coordinator.language.speak[lan]" flex="10">speak</md-checkbox>
             <md-checkbox ng-model="vm.coordinator.language.read[lan]" flex="10">read</md-checkbox>
             <md-checkbox ng-model="vm.coordinator.language.write[lan]" flex="10">write</md-checkbox>
             </span>
           </p>    

          <div layout>
          <md-autocomplete
           md-selected-item="vm.coordinator.language"
           md-search-text-change=""
           md-search-text="languageInputText"
           md-selected-item-change=""
           md-items="item in vm.items | filter: languageInputText"
           md-item-text="item"
           md-min-length="0"
           placeholder="Languages"
           md-menu-class="autocomplete-custom-template"
           ng-required="true"
           flex=95>
           <md-item-template>
             <span md-highlight-text="languageInputText" md-highlight-flags="^i">{{item}}</span>
           </md-item-template>
          </md-autocomplete >
         <md-button class="md-icon-button md-primary" ng-click="vm.insertLang();language=''">
           <md-icon>add</md-icon>
         </md-button>
          </div>

           <section layout="row" layout-padding="" layout-align="center">
            <button type="submit" class="md-raised md-primary" ng-disabled="false">&nbspRegister&nbsp</button>
          </section>        
    </form>
  </md-content>
</div>
</div>




<!-- naming convensions
lint errors
multiselect
figure all the api and review that
express running
 -->