 <md-dialog>
  <md-dialog-content>
 <form ng-submit="submitCriteriaData()">
 <div layout="column" layout-align="center center">
  <div layout="row" layout-padding>
  <p class="md-title">Qualification</p>
   <span>
    <div layout="row" data-ng-repeat="qualification in qualifications">
      <md-input-container class="md-icon-float md-block" >
        <input ng-model="qualification.name" type="text" placeholder="Course Name" ng-required="true">
      </md-input-container>
      <md-input-container>
          <input ng-model="qualification.score" type="text" placeholder="Score" ng-required="true">
      </md-input-container>
       <md-input-container>
         <md-select ng-model="qualification.priority" placeholder="Priority">
              <md-option ng-repeat="value in priority" value="{{value}}">
                {{value}}
              </md-option>
            </md-select>
      </md-input-container>
    </div>
     <md-button class="md-primary md-raised" ng-click="addQual()"  flex=""  flex-gt-md="auto">
         ADD
    </md-button>
  </span>
  </div>
  <div layout="row" layout-padding>
  <p class="md-title">Salary</p>
   <span>
    <md-input-container class="md-icon-float md-block" >
    <input ng-model="criteria.renumeration" type="text" placeholder="Salary" ng-required="true">
    </md-input-container>
  </span>
  </div>
  <div layout="row" layout-padding>
  <p class="md-title">Allowance</p>
   <span>
    <md-input-container class="md-icon-float md-block" >
    <input ng-model="criteria.externalPerks" type="text" placeholder="Allowance & Renumeration" ng-required="true">
    </md-input-container>
  </span>
  </div>
  <div>
   <md-button class="md-primary md-raised" type="submit" flex=""  flex-gt-md="auto">
    Save
  </md-button>
  </div>
 </div>
 </form>
  </md-dialog-content>
 </md-dialog>   