<md-card>
<md-card-content>
<h3 class="md-title" align="center"><strong>Eligibility criteria & Other details</strong></h3>
<md-divider ></md-divider>
  <div>
    <strong md-colors="{color:'primary'}">Qualification</strong><br>
    <div layout="row" layout-align="center" ng-repeat="qualification in vm.criteria.qualifications">
      <p flex="30" flex-xs="30"><span><ng-md-icon icon="stars" size="20"><md-tooltip>
            Course
          </md-tooltip></span>&nbsp;{{qualification.name}}</p>
      <p flex="30" flex-xs="30"><span><ng-md-icon icon="assignment" size="20"><md-tooltip>
            score
          </md-tooltip></span>&nbsp;{{qualification.score}}</p>
      <p><span><ng-md-icon icon="check_box" size="20"><md-tooltip>
            priority
          </md-tooltip></span>&nbsp;{{qualification.priority}}</p>
    </div>
    <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Salary</strong></span><br>
      {{vm.criteria.renumeration}}
    </p>
    <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Allowances & Incentives</strong></span><br>
      {{vm.criteria.externalPerks || json}}
    </p>
  </div>
  <md-card-actions layout="row" layout-align="end center">
  <div id="dialogContainer" ng-controller="dialogController as ctrl" ng-cloak>
    <md-button class="md-primary md-raised" ng-click="showQualification($event,vm)"  flex=""  flex-gt-md="auto">
    Edit
  </md-button>
  </div>
</md-card-actions>
</md-card-content>
</md-card>
