<md-card>
<md-card-content>
<h3 class="md-title" align="center"><strong>Job Details</strong></h3>
<md-divider ></md-divider>
<div>
 <p><span ><ng-md-icon icon="perm_identity" size="20"></span>
  &nbsp;{{$ctrl.job[0].title}} 
</p>
<p><span><span md-colors="{color:'primary'}"><ng-md-icon icon="work" size="20"></span>
  {{$ctrl.job[0].role}} 
</p>
<p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Language</strong></span>
  {{$ctrl.job[0].language}}
</p>
<div layout="row" layout-align="center" layout-xs="column" layout-md="column">
 <p flex="20"><span md-colors="{color:'primary'}"><ng-md-icon icon="location_on" size="20"><md-tooltip>
            Loaction
          </md-tooltip></ng-md-icon></span>
  {{$ctrl.job[0].jobLocation}}
</p>
<p flex="20"><span md-colors="{color:'primary'}" class="md-subhead"><ng-md-icon icon="event_busy" size="20"><md-tooltip>
            Close date
          </md-tooltip></ng-md-icon></span>&nbsp;
  {{$ctrl.job[0].closeDate}}
</p>
<p flex="15"><span md-colors="{color:'primary'}" class="md-subhead"><ng-md-icon icon="history" size="20"><md-tooltip>
            Experience
          </md-tooltip></ng-md-icon></span>
  {{$ctrl.job[0].experience}}&nbsp;yrs
</p>
<p flex="20"><span md-colors="{color:'primary'}"><ng-md-icon icon="person_add" size="20"><md-tooltip>
            Job opennings
          </md-tooltip></ng-md-icon></span>&nbsp;
  {{$ctrl.job[0].openningsNo}}
</p>
</div>
<p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Skills</strong></span><br>
 <md-chips class="custom-chips" ng-model="$ctrl.job[0].skills" md-transform-chip="ctrl.newSkill($chip)" md-removable="false">
 <md-chip-template>
 <span>
  <strong>{{$chip.name}}</strong>
  <em>({{$chip.expertise}})</em>
</span>
</md-chip-template>
      </md-chips>
    </p>
    <p><span md-colors="{color:'primary'}" class="md-subhead"><strong>Duties</strong></span><br>
      {{$ctrl.job[0].duties}}
    </p>
  </div>
  <md-card-actions layout="row" layout-align="end center">
  <div id="dialogContainer" ng-controller="dialogController" ng-cloak>
    <md-button class="md-primary md-raised" ng-click="showJobDesc($event)"  flex=""  flex-gt-md="auto">
    Edit
  </md-button>
</div>
</md-card-actions>
</md-card-content>
</md-card>