<body>
<md-card>
        <md-card-header>
          <md-card-avatar>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title"></span>
            <span class="md-subhead"></span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="./images/background.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Samarth-Coordinator</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button>AboutUs</md-button>
          <md-button>ContactUs</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle">
              <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <h3>
            Dividing the Panchatantra into individual stories takes off the essence of the colourful fables. Despite this fact,
            Panchatantra stories have spread all over the world for centuries, especially as bedtime stories for kids.
             We present here, a list of our versions of 60 such popular short stories from the Panchatantra, in English.
             The short stories include pictures and moral messages, especially for kids.
             We present here, a list of our versions of 60 such popular short stories from the Panchatantra, in English.
             The short stories include pictures and moral messages, especially for kids.
             We present here, a list of our versions of 60 such popular short stories from the Panchatantra, in English.
             The short stories include pictures and moral messages, especially for kids.
             We present here, a list of our versions of 60 such popular short stories from the.

          </h3>
        </md-card-content>
      </md-card>
</body>

