<div layout="row" layout-align="center" layout-margin="" >
  <input type="text" name="searchBox" md-focus ng-model="searchString"  placeholder="Search Jobs" class="md-block">
	  
  <span>
	  <md-button class="md-raised md-primary" aria-label="search" ng-click="searchfun(searchString)" ui-sref="index.jobSearch">
	  <md-icon>search</md-icon>
	  </md-button>
	</span>
</div> 

<!-- 
<div layout="row" layout-align="center" layout-margin="" >
  <input type="text" name="searchBox" md-focus ng-model="searchString"  placeholder="Search Jobs" class="md-block">
	  
  <span>
	  <md-button class="md-raised md-primary" aria-label="search" ng-click="searchfun(searchString)" ui-sref="index.jobSearch">
	  
	  <md-button class="md-raised md-primary" aria-label="search"  ui-sref="index.jobsearchresult({searchstr:'{{searchString}}'})">	<md-icon>search</md-icon>
	  </md-button>
	  
	  </md-button>
	</span>
</div>  -->

        


        

