.names {
    font-size: x-large;
    font-weight: bold;
}

.others {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.card >div>div >md-button {
    font-weight: bold;
    cursor: pointer;
}

#savebutton {
    color: #0098b4;
}

.numbers {
    font-size: medium;
}

.card > .md-title {
    margin: 10px 10px;
}

md-chips.md-default-theme .md-chips,
md-chips .md-chips {
    box-shadow: none;
}

.md-dialog-content>md-input-container>input {
    margin-top: 20px;
}

.pointCursor {
    cursor: pointer;
}

md-divider {
    margin-left: 50px;
    margin-right: 50px;
}
