<md-card class="card transparent" md-colors="{background: '{{gerColler(prof.name)}}'}">
    <md-card-header>
        <md-card-header-text>
            <span class="md-title ">{{prof.name | uppercase}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <span class="md-subhead ">{{prof.rCount}}</span>
        <span class="md-subhead ">{{prof.domain}}</span>
    </md-card-content>
    <md-divider></md-divider>
    <md-card-actions layout="row" layout-sm="column">
        <md-button ui-sref="index.searchjob({circleName:'{{prof.name}}',circleDomain:'{{prof.domain}}'})">Jobs</md-button>
        <md-button ui-sref="index.candidatessearch({circleName:'{{prof.name}}',circleDomain:'{{prof.domain}}'})">Candidates</md-button>
    </md-card-actions>
</md-card>
