<div layout="row" layout-xs="column" layout-align="center center" >
    <div layout="column">
      <h3  md-colors="{color: 'blue-700'}">  Displaying Job-Providers</h3>
    </div>
</div>
<div flex-xs="100" flex-gt-xs="100">
    <div layout="row" layout-xs="column">
    <div layout="row" >
    <ng-md-icon icon="keyboard_arrow_left" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0" md-colors="{color: 'blue-500'}"></ng-md-icon>
      </div>
        <div ng-repeat="prof in profiling |startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" flex-gt-md="80" >
            <job-provider data='prof'  layout-align="center center" ></job-provider>
        </div>
        <div layout="row"  >
            <ng-md-icon icon="keyboard_arrow_right" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages"md-colors="{color: 'blue-500'}" ></ng-md-icon>
        </div>
    </div>
    </div>
    <div layout="row" >


    </div>
