<div layout="row" layout-xs="column" md-colors="{background: 'indigo-100'}" layout-align="center center" class=" md-display-2" style="font-size:20;">
    {{message}}
</div>
<div flex-xs="100" flex-gt-xs="100" layout-margin>
    <div layout="row" layout-xs="column">
        <div ng-repeat="prof in profiling |startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" flex-gt-md="80" >
            <job-provider data='prof' layout-align="center center"></job-provider>
        </div>
    </div>
    <div layout class="md-padding" flex>
      <div layout layout-align="start start" flex="50">
          <md-button class="md-raised md-primary" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0">Previous</md-button>
      </div>
      <div layout layout-align="end end" flex="50">
          <md-button class="md-raised md-primary" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages">Next</md-button>
      </div>
    </div>
</div>

<div layout="row"  layout-align="end end">
<a ui-sref="index.empreg">
 <md-button  class="md-fab md-mini" md-colors="{background:'indigo'}">
            <md-tooltip>
              JOb Provider Registration
            </md-tooltip>
            <md-icon>add</md-icon>
          </md-button></a>
</div>
