#savebutton {
    color: #0098b4;
}

#header {
    font-size: 25;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #A1BAB7;
    text-align: center;
}

.md-raised {
    margin-right: 1px;
}

.md-headline {
    font-size: 20px;
}

.designation {
    padding-top: 10px;
    font-size: 16px;
}

.projectTitle {
    background-color: #e6e6e6;
}

.changeProjectNameFont {
    font-size: 16px;
}

.changeProjectDurationFont {
    font-size: 12px;
}

.duration {
    font-size: 14px;
}

.changeProjectLocationFont {
    font-size: 14px;
}

.changeProjectClientFont {
    font-size: 14px;
}

.client {
    font-size: 14px;
}

.changeProjectSalaryFont {
    font-size: 12px;
}

.pointCursor {
    cursor: pointer;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.md-button.left {
    border-radius: 10px 0 0 10px;
}

.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button.right {
    border-radius: 0 10px 10px 0;
}

.padding {
    padding-left: 10px;
}
