<md-dialog aria-label="Education">
    <form name="eduForm" required ng-cloak>
        <md-toolbar id="conversationDialogtoolbar">
            <div class="md-toolbar-tools">
                <h1 id="headingtext">{{header}}</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon id="headingtext">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column">
            <div id="conversationDialogcontent" layout-padding layout-wrap>
                I have done my
                <md-input-container>
                    <label>Course</label>
                    <input id="input1" ng-model="title" name="title" required>
                    <div ng-messages="eduForm.title.$error" role="alert">
                        <div ng-message="required">Please Enter Course Name</div>
                    </div>
                </md-input-container>
                (
                <md-input-container id="datepicker">
                    <label Layout-align="center center">Course Level</label>
                    <md-select ng-model="academicType">
                        <md-option ng-repeat="itype in ['Primary','Metric','Senior Secondary','Diploma','Graduation','Post-Graduation','Docterate','Others']" ng-value="itype">{{itype}}</md-option>
                    </md-select>
                </md-input-container>
                ) in the year
                <md-input-container id="datepicker">
                    <label>Batch</label>
                    <md-select ng-model="batch" required>
                        <md-option ng-repeat="year in years" ng-value="{{year}}">{{year}}</md-option>
                    </md-select>
                </md-input-container>
                with final score of
                <md-input-container>
                    <label>Score</label>
                    <input id="input1" ng-model="result">
                </md-input-container>
                <md-input-container>
                    <label>Unit</label>
                    <input id="input1" ng-model="unit">
                </md-input-container>
                . I did it from
                <md-input-container>
                    <label>Institute Name</label>
                    <input id="input1" ng-model="name" name="institute" required>
                    <div ng-messages="eduForm.institute.$error" role="alert">
                        <div ng-message="required">Please enter Institute Name</div>
                    </div>
                </md-input-container>
                (
                <md-input-container id="datepicker">
                    <label>Type</label>
                    <md-select ng-model="type">
                        <md-option ng-repeat="itype in ['school','college','work']" ng-value="itype">{{itype}}</md-option>
                    </md-select>
                </md-input-container>
                ) which is affiliated to
                <md-input-container>
                    <label>Affiliation</label>
                    <input id="input1" ng-model="affiliation" name="affiliation">
                    <div ng-messages="eduForm.affiliation.$error" role="alert">
                        <!-- <div ng-message="required">Please enter Board/University</div> -->
                    </div>
                    <br>
                </md-input-container>
                and is located in
                <md-input-container>
                    <label>Location</label>
                    <input id="input1" ng-model="location" name="location">
                    <div ng-messages="eduForm.location.$error" role="alert">
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center">
            <md-button class="md-raised" id="addbutton" contenteditable="false" ng-disabled="eduForm.$invalid" ng-click="save(header)">
                SAVE
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
