<!doctype html>
<html ng-cloak>
<head>
  <title>Job Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
</head>
<body> 
  <div layout="column" layout-align="center center" class="wrapper" ng-controller="jobDataCtrl">
    <h3 class="md-display-2">Job Profile</h3>
    <div layout="row" layout-align="center center">
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedItem"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
          md-search-text="ctrl.searchText"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="Job Provider?">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i"></span>
        </md-item-template>
        <md-not-found>
          No states matching "{{ctrl.searchText}}" were found.
          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
    </div>
    <div layout="row" layout-align="center center" flex layout-fill>
      <job-desc data="jobData" flex-gt-xs="50"></job-desc>
    </div>
    <div layout="row" layout-align="center center" flex layout-fill>
      <criteria data="jobData" flex-gt-xs="50"></criteria>
    </div>
      <div layout="row" layout-align="center center" >
      <md-button class="md-primary md-raised" ng-click="submitJob()" flex-gt-md="auto">
        Post your job !
      </md-button>
    </div>
  </div>
</body>
</html>