<md-card class="rubrictable">
    <div layout="row" layout-gt-xs="column" layout-padding>
        <div class="caption">
            {{$ctrl.name}}
        </div>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>
                            <div layout="row" layout-padding flex>
                                
                                <div flex="90" layout="row">
                                    <div class="md-title" ng-repeat="a in $ctrl.desc1.scale" flex-offset="10">
                                        {{a}}
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="x in $ctrl.desc1.type">
                        <td md-cell>
                            <div layout="row">
                                <md-radio-group layout="row" ng-model="x.model">
                                   
                                    <div flex="20" ng-repeat=" m in x.colums">
                                        <md-radio-button class="md-primary" value="{{m.value}}">
                                            
                                            <ul ng-repeat="b in m.checklist" layout="column">
                                                <li class="datasmall">{{b}}
                                                </li>
                                            </ul>
                                        </md-radio-button>
                                    </div>
                                    <div flex="10">
                                        <md-input-container>
                                            <label> Ratings
                                            </label>
                                            <input type="text" ng-model="x.model" disabled>
                                        </md-input-container>
                                    </div>
                                </md-radio-group>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <div layout-align="center center" layout="column" flex>
            <md-input-container>
                <label>Comments</label>
                <textarea ng-model="$ctrl.remarks" md-maxlength="20" rows="2" md-select-on-focus></textarea>
            </md-input-container>
            <div layout-align="center">
                <md-button class="md-raised md-primary" ng-click="$ctrl.average($ctrl.desc1.type)" style="width:20px">Save
                </md-button>
                <div flex style="color:green;">
                    {{$ctrl.message}}
                </div>
            </div>
        </div>
    </div>
</md-card>
