<div ng-show="$ctrl.showMaxBtn" class="pointCursor" ng-click="$ctrl.showMaxBtn=!$ctrl.displayInputBox; $ctrl.displayInputBox=!$ctrl.displayInputBox;$ctrl.hideDisplayAlertMessage()">
    <span class="view">Help  us to build your profile !!
    
    <md-icon md-font-icon="view_module" aria-label="view_module" class="view_module">view_module</md-icon>
    </span>
</div>
<div layout-margin>
    <div layout="column" ng-model="$ctrl.displayInputBox" ng-hide="$ctrl.displayInputBox" ng-init="$ctrl.startInpuBox()" layout-padding>
        <div layout="row" class="questionArea" md-colors="::{background: 'primary-700'}">
            <div flex="95" flex-xs="85">
                <label for="ques1" ng-model="$ctrl.currentQuestionIndex">{{$ctrl.questionArray[$ctrl.currentQuestionIndex]}}</label>
            </div>
            <div flex="5" flex-xs="15" layout-align="center center" class="pointCursor">
                <a ng-click="$ctrl.minimizeQuestionBox();$ctrl.hideDisplayAlertMessage()">
                    <strong><md-icon md-font-icon="remove" aria-label="remove" class="removeIcon">remove</md-icon></strong>
                </a>
            </div>
        </div>
        <div layout="row">
            <div flex="90" flex-xs="80" class="input">
                <input class="ques1" name="ques1" type="text" value="$ctrl.clear" ng-model="$ctrl.clear" ng-keyup="$event.keyCode == 13 ? $ctrl.increaseIndex() : null" />
            </div>
            <div flex="10" flex-xs="20">
                <button class="forward" ng-click="$ctrl.increaseIndex()">
                    <md-icon class="forwardIcon">arrow_forward</md-icon>
                </button>
            </div>
        </div>
        <div layout="row" layout-wrap>
            <div flex="100">
                <md-progress-linear md-mode="determinate" value="{{$ctrl.val}}"></md-progress-linear>
            </div>
            <div flex="100" flex-offset="90">
                {{$ctrl.currentQuestionIndex}}/{{$ctrl.questionArray.length}}
            </div>
        </div>
        <div layout="row" layout-wrap>
            <div flex="100" layout-align="center center" ng-show="$ctrl.displayAlertMessage" class="displayAlertMessage">
                Please enter something.
            </div>
            <div flex="100" ng-show="$ctrl.displayAnswerdBox" class="thankuBox">
                Thank you! We'll be in touch.
            </div>
        </div>
    </div>
</div>
