.rubrictable {
    margin-left: 10px;
    margin-right: 10px;
}

.caption {
    text-align: center;
}

.datasmall {
    font-size: 15px;
}

.buttonsave {
    padding: 80 80px 9 90px;
    margin: 6px 90px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}
