<div>
    <div layout-gt-xs="column" ng-show="$ctrl.average>0" md-padding>
        <div flex-offset="35" hide-xs>
            <md-icon class="material-icons md-36" style="color:green" layout-align="end end">verified_user</md-icon>
        </div>
        <div layout="row" layout-align="end end" hide-xs>
            <div ng-repeat="x in $ctrl.arr">
                <md-icon class="material-icons md-24 md-raised" layout-align="center" style="color:#FFEA00">{{$ctrl.verification_status}}</md-icon>
            </div>
            <span>/ 5 </span>
            <!-- <span>{{$ctrl.verification_ratings}}</span> -->
        </div>
        <br>
        <span class="md-caption">Verified :<time am-time-ago="$ctrl.a"></time></span>
    </div>
    <div layout-gt-xs="column" ng-show="$ctrl.average==0" md-padding>
        <div flex-offset="35" hide-xs>
            <md-icon class="material-icons md-36" style="color:orange" layout-align="end end">error</md-icon>
        </div>
        <p> Un-verified </p>
    </div>
</div>
