<div>
    <h2 class="md-display-2">About us</h2>
    <p class="md-headline" style="justify-content:space-around;align-self:center;line-height:200%;text-indent:50px">Samarth uses technology to organise Skill & Job marketplace by covering large amount of population to its skill database and Job database. Samarth does what UBER did to Taxi based transportation, for the skilled people recruitment across all possible industry and service segments in India as a first goal This is done by organising Skilled people finding for a job of any industry and/or service segment as a well organised, predictable, trustable and reliable online marketplace Hence Samarth can be viewed as a large database of skilled people, jobs currently available, past placement history and outcomes from the placement history, with intelligence to identify next successful placement for either job provider or skilled people</p>
    <span flex></span>
    <span flex></span>
    <h2 class="md-display-2">Challanges in Samarth-Placement</h2>
    <ul layout-align="center center" style="justify-content:space-around;line-height:200%;align-self:center;margin-left:5cm;font-size:150%">
        <li>
            <p> Design difficulties of the App components
</p>
        </li>
        <li>
            <p>Using Component architecture</p>
        </li>
        <li>
            <p>
                Implementing new technologies</p>
        </li>
        
    </ul>
    <span></span>
    <h2 class="md-display-2">Contributors</h2>
    <ul style="list-style-type: none;">
    <li>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <p><div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Ankit Vashist</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Amol Tiwari</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div></p></li>
       
        </ul>
        <ul style="list-style-type: none;">
    <li>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <p><div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Kumaridevi</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Prernakukreti</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div></p></li>
       
        </ul>
        <ul style="list-style-type: none;">
    <li>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <p><div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Ritesh Garg</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Hari Prasath</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div></p></li>
       
        </ul>
        <ul style="list-style-type: none;">
    <li>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <p><div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Shinderpal Singh</span>
                    </md-card-title-text>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="home/images/download.jpg">
                    </md-card-avatar>
                </md-card-title>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button href="https://github.com/stackroute/Samarth-Placement.git">GitHub</md-button>
                </md-card-actions>
            </md-card>
        </div>
       </p></li>
       
        </ul>

    </md-content>
</div>